@use '../base/variables' as v;
@use '../base/mixins' as m;

.listado-servicios {

    display: grid;
    gap: 2rem;

    @include m.tablet {
        @include m.grid(2,2rem);
    }

    .servicio {
        background-color: v.$azul;
        padding: 2rem;
        border-radius: 1rem;
        // transition-property: transform;
        // transition-duration: 250ms;
        text-align: center;
        transition: all 0.5s ease;
        @include m.telefono {
            text-align: center;
        }

        &.seleccionado {
            background-color: v.$secundario;
        }

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        p {
            color: v.$blanco;
            margin: 0 0 calc(v.$separacion / 4) 0;
        }

        .precio-servicio {
            font-weight: v.$bold;
            font-size: 3rem;
            margin: 0;
        }
    }
}